<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link href="../static/css/pure/menus.css" th:href="@{/css/pure/menus.css}" rel="stylesheet"/>
    <link href="../static/css/pure/side-menu.css" th:href="@{/css/pure/side-menu.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="menu" class="pure-u" th:fragment="navBar">
        <div class="pure-menu pure-u-1">
            <ul class="navigation pure-menu-list">
                <li id="username" th:text="'Welcome, '+ ${userName}"/>
                <li class="navigation pure-menu-item"><a href="http://localhost:8080/today" class="pure-menu-link">Today</a></li>
                <li class="navigation pure-menu-item"><a href="http://localhost:8080/thisWeek/1/" class="pure-menu-link">This week</a></li>
                <li class="navigation pure-menu-item"><a href="http://localhost:8080/agenda" class="pure-menu-link">Agenda</a></li>
                <li class="navigation pure-menu-item"><a href="http://localhost:8080/zones" class="pure-menu-link">Zones</a></li>
            </ul>
        </div>

</div>
</body>
</html>