ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 15%;*/
    background-color: #22313F;
    /*height: 100%; !* Full height *!*/
    /*position: fixed; !* Make it stick, even on scroll *!*/
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li.navigation {
    float: left;
    width: 100%
}

#username {
    color: white;
    text-align: center;
    padding: 14px 0px;
}

li.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
}

li.navigation a:hover {
    background-color: #19B5FE;
}

.clearfix {
    overflow: auto;
}

h1 {
    text-align: center;
}

.divTable {
    border: none;
    width: auto;
    position: relative;
}

.divTableHeader {
    background-color: #68a7ca;
    border: none;
    text-align: center;
    padding: 5px;
}

.divRow:nth-child(odd) {
    background-color: #8dbdd8;
    border: none;
    text-align: center;
    padding: 5px;
}

.divRow:nth-child(even) {
    background-color: #b2d3e6;
    border: none;
    text-align: center;
    padding: 5px;
}

.divCell {
}

.page-header {
    text-align: center;
}
