<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids.css" th:href="@{/css/pure/grids.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids-responsive.css" th:href="@{/css/pure/grids-responsive.css}" rel="stylesheet"/>
    <link href="../static/css/pure/forms.css" th:href="@{/css/pure/forms.css}" rel="stylesheet"/>
    <link href="../static/css/pure/buttons.css" th:href="@{/css/pure/buttons.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Agenda</title>
    <style>
        form.new-schedule {
            border: 1px solid black;
            padding: 15px 15px;
            position: relative;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-md-1-5 pure-u-lg-1-4">
        <div th:replace="fragments/navBar::navBar"/>
    </div>
    <div class="pure-u-4-5 pure-u-lg-3-5">
    <div class="page-header pure-u-1">
        <h1>Agenda</h1>
    </div>
    <div class="pure-u-1-5"></div>
        <div class="divTable pure-u-1">
            <div class="divTableHeader pure-g">
                <div class="divCell pure-u-1-5">Start time</div>
                <div class="divCell pure-u-1-5">Duration (min)</div>
                <div class="divCell pure-u-1-5">Zones</div>
                <div class="divCell pure-u-1-5">Days</div>
                <div class="divCell pure-u-1-5"></div>
            </div>
            <div class="divRow pure-g" th:each="circuit:${model.sprinklerCircuitArrayList}">
                <form class="delete-circuit pure-u-1" action="/agenda/deleteCircuit" method="post">
                    <input type="hidden" name="circuitID" th:value="${circuit.circuitID}"/>
                    <div class="pure-g">
                        <div class="divCell pure-u-1-5" th:text="${{circuit.startTime}}"/>
                        <div class="divCell pure-u-1-5" th:text="${circuit.durationInMinutes}"/>
                        <div class="divCell pure-u-1-5">
                            <div th:each="zones:${circuit.zones}" th:text="${zones.zoneName}"/>
                        </div>
                        <div class="divCell pure-u-1-5">
                            <div th:each="day:${circuit.daysOfWeek}" th:text="${day.name()}"/>
                        </div>
                        <div class="divCell pure-u-1-5"><input type="submit" class="pure-button" value="Delete"/></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<div class="pure-u-md-1-5 pure-u-lg-1-4"></div>-->

    <div class="pure-u-1">
        <br/><br/>
    </div>
    <div class="pure-u-md-1-4 pure-u-lg-1-4"></div>
    <div class="pure-u-3-4 pure-u-lg-1-2">
        <form class="new-schedule pure-form pure-form-aligned" action="/agenda/newCircuit" method="post">
            <fieldset>
                <div class="pure-control-group"> Start time:
                    <input type="number" name="hour" placeholder="Hour" min="0" max="23"/>:<input type="number"
                                                                                                  name="minutes"
                                                                                                  placeholder="Minute"
                                                                                                  min="0"
                                                                                                  max="59"/><br/>
                </div>
                <div class="pure-control-group">
                    Duration: <input type="number" name="durationInMinutes" placeholder="Minutes" min="1"/><br/>
                </div>
                <div class="pure-control-group">
                    Zones:<br/>
                    <div th:each="zone:${model.sprinklerZoneArrayList}">
                        <input type="checkbox" th:name="zone" th:value="${zone.zoneNumber}" th:text="${zone.zoneName}"/>
                    </div>
                </div>
                <div class="pure-control-group">
                    Days:<br/>
                    <input type="checkbox" name="days" value="Monday"/>Monday<br/>
                    <input type="checkbox" name="days" value="Tuesday"/>Tuesday<br/>
                    <input type="checkbox" name="days" value="Wednesday"/>Wednesday<br/>
                    <input type="checkbox" name="days" value="Thursday"/>Thursday<br/>
                    <input type="checkbox" name="days" value="Friday"/>Friday<br/>
                    <input type="checkbox" name="days" value="Saturday"/>Saturday<br/>
                    <input type="checkbox" name="days" value="Sunday"/>Sunday<br/>
                    <input type="submit" class="pure-button pure-button-primary" value="Submit"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>