<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Freebird</title>
</head>
<body>
<p th:text="'The current time is ' + ${homePageModel.currentTime}" />
<ol>
    <li><a href="signIn.html">Sign in</a> </li>
    <li><a href="today.html">Today</a></li>
</ol>
</body>
</html>