<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids.css" th:href="@{/css/pure/grids.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids-responsive.css" th:href="@{/css/pure/grids-responsive.css}" rel="stylesheet"/>
    <link href="../static/css/pure/menus.css" th:href="@{/css/pure/menus.css}" rel="stylesheet"/>
    <link href="../static/css/pure/menus-horizontal.css" th:href="@{/css/pure/menus-horizontal.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>This Week</title>
    <style>
        ul.week {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #22313F;
            /*padding: 0% 25%;*/
            width: 100%;
        }

        li.day a {
            letter-spacing: normal;
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
        }

        li.day a:hover {
            background-color: #19B5FE;
        }
    </style>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-4">
    <div th:replace="fragments/navBar::navBar"/>
    </div>
    <div class="main-content pure-u-4-5 pure-u-md-3-5 pure-u-lg-2-4">
        <div class="pure-g">

            <!--<div class="pure-u-md-3-5 pure-u-lg-1-2">-->
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="week pure-menu-list">
                        <li class="day pure-menu-item"><a href="../1/" class="pure-menu-link">MON</a></li>
                        <li class="day pure-menu-item"><a href="../2/" class="pure-menu-link">TUE</a></li>
                        <li class="day pure-menu-item"><a href="../3/" class="pure-menu-link">WED</a></li>
                        <li class="day pure-menu-item"><a href="../4/" class="pure-menu-link">THU</a></li>
                        <li class="day pure-menu-item"><a href="../5/" class="pure-menu-link">FRI</a></li>
                        <li class="day pure-menu-item"><a href="../6/" class="pure-menu-link">SAT</a></li>
                        <li class="day pure-menu-item"><a href="../7/" class="pure-menu-link">SUN</a></li>
                    </ul>
                </div>
                <div class="page-header pure-u-1">
                    <h1 th:text="${model.dayOfWeek}"/>
                </div>
                <div class="pure-u-1">
                    <div class="schedule">
                        <div class="divTable pure-u-1">
                            <div class="divTableHeader pure-g">
                                <div class="divCell pure-u-1-3">Start Time</div>
                                <div class="divCell pure-u-1-3">Duration (min)</div>
                                <div class="divCell pure-u-1-3">Zones</div>
                            </div>
                            <div class="divRow pure-g" th:each="circuit:${model.sprinklerCircuitArrayList}">
                                <div class="divCell pure-u-1-3" th:text="${{circuit.startTime}}"/>
                                <div class="divCell pure-u-1-3" th:text="${circuit.durationInMinutes}"/>
                                <div class="divCell pure-u-1-3">
                                    <div th:each="zone:${circuit.zones}" th:text="${zone.zoneName}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
</body>
</html>