<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/pure/grids.css" th:href="@{/css/pure/grids.css}" rel="stylesheet" />
    <link href="../static/css/pure/grids-responsive.css" th:href="@{/css/pure/grids-responsive.css}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Today</title>
    <style>

        td {
            text-align: center;
        }
        .today-weather{
            width:60%;
            text-align: center;
            float: left;
        }
        .tomorrow {
            border: 1px solid black;
            width: 35%;
            text-align: center;
            float: right;
        }
    </style>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-4">
        <div th:replace="fragments/navBar::navBar"/>
    </div>
    <!--<div class="today-header">-->
        <!--<h1>Today</h1>-->
    <!--</div>-->
    <!--<div class="today-weather">-->
        <!--<h2>Today's weather</h2>-->
        <!--<p>Weather info</p>-->
    <!--</div>-->
    <!--<div class="tomorrow">-->
        <!--<h3>Tomorrow</h3>-->
        <!--<div class="weather">-->
            <!--<p>Weather info</p>-->
        <!--</div>-->
    <!--</div>-->
    <div class="pure-u-4-5 pure-u-md-3-5 pure-u-lg-1-2">
        <div class="pure-g">
        <div class="page-header pure-u-1"><h2>Today's schedule</h2></div>
            <br />
        <div class="divTable pure-u-1">
            <div class="divTableHeader pure-g">
                <div class="divCell pure-u-1-3">Time</div>
                <div class="divCell pure-u-1-3">Duration (min)</div>
                <div class="divCell pure-u-1-3">Zones</div>
            </div>
            <div class="divRow pure-g" th:each="circuit:${model.sprinklerCircuitArrayList}">
                <div class="divCell pure-u-1-3" th:text="${{circuit.startTime}}"/>
                <div class="divCell pure-u-1-3" th:text="${circuit.durationInMinutes}"/>
                <div class="divCell pure-u-1-3"><div th:each="zones:${circuit.zones}" th:text="${zones.zoneName}"/></div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>