<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids.css" th:href="@{/css/pure/grids.css}" rel="stylesheet"/>
    <link href="../static/css/pure/grids-responsive.css" th:href="@{/css/pure/grids-responsive.css}" rel="stylesheet"/>
    <link href="../static/css/pure/forms.css" th:href="@{/css/pure/forms.css}" rel="stylesheet"/>
    <link href="../static/css/pure/buttons.css" th:href="@{/css/pure/buttons.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Zones</title>
    <style>
    </style>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-md-1-5 pure-u-lg-1-4">
        <div th:replace="fragments/navBar::navBar"/>
    </div>
    <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-3-4">
        <div class="pure-g">
            <!--<div class="pure-u-1-5"></div>-->
            <div class="pure-u-4-5 pure-u-lg-3-5">
                <div class="page-header pure-u-1">
                    <h1>Zones</h1>
                </div>
                <div class="divTable pure-u-1">
                    <div class="divTableHeader pure-g">
                        <div class="divCell pure-u-1-4">Zone</div>
                        <div class="divCell pure-u-1-4">Name</div>
                        <div class="divCell pure-u-1-4">Test</div>
                        <div class="divCell pure-u-1-4">Delete</div>
                    </div>
                    <div class="divRow pure-g" th:each="zone:${model.sprinklerZoneList}">
                        <form class="delete-zone pure-u-1" method="post">
                            <div class="pure-g">
                                <div class="divCell pure-u-1-4" th:text="${zone.zoneNumber}"/>
                                <input type="hidden" name="zoneNumber" th:value="${zone.zoneNumber}"/>
                                <div class="divCell pure-u-1-4" th:text="${zone.zoneName}"/>
                                <input type="hidden" name="zoneName" th:value="${zone.zoneName}"/>
                                <div class="divCell pure-u-1-4">
                                    <button class="pure-button" type="button">Test</button>
                                </div>
                                <div class="divCell pure-u-1-4"><input type="submit" class="pure-button"
                                                                       formaction="/zones/deleteZone" value="Delete"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pure-u-1"><br/></div>
            <div class="pure-u-3-4 pure-u-lg-1-2">
                <form class="new-zone pure-form-aligned pure-form" action="/zones/newZone" method="post">
                    <fieldset>
                        <div class="pure-control-group">
                            <label id="zoneNumber">Zone number: </label>
                            <input type="number" name="zoneNumber" min="1"/><br/>
                        </div>
                        <div class="pure-control-group">
                            <label id="zoneName">Zone name: </label>
                            <input name="zoneName"/>
                        </div>
                        <div class="pure-controls">
                            <input type="submit" class="pure-button pure-button-primary" value="Submit"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>